In [43]:
import pandas as pd
import censusdata
pd.set_option('display.expand_frame_repr', False)
pd.set_option('display.precision', 2)

## First, identify the census data group you want from the ACS
There are many, listed here https://api.census.gov/data/2019/acs/acs5/groups/

In [90]:
#for example, this dataset should include a count of people with medicaid
groupid = 'B02009'
#Other examples include B01003 for total population, 
# B02008,B02009 for Black/White race

## Then identify the subset(s) of that group you want

In [91]:
censusdata.printtable(censusdata.censustable('acs5', 2019, groupid))

Variable     | Table                          | Label                                                    | Type
-------------------------------------------------------------------------------------------------------------------
B02009_001E  | BLACK OR AFRICAN AMERICAN ALON | !! Estimate Total:                                       | int
-------------------------------------------------------------------------------------------------------------------

In [93]:
#Here we pick the overall total (the only option here), and give it a name
#it is possible to pick multiple rows from the table above
varids = ['B02009_001E']
dataname = 'pop_black'

# Then, download the data in a table, broken down by zip code

In [96]:
data_raw = censusdata.download('acs5', 2019,
           censusdata.censusgeo([('zip code tabulation area', '*')]),
          varids)


data_raw.head()

                                                    B02009_001E
ZCTA5 00601: Summary level: unknown, state:72> ...          344
ZCTA5 00602: Summary level: unknown, state:72> ...         4092
ZCTA5 00603: Summary level: unknown, state:72> ...         1894
ZCTA5 00606: Summary level: unknown, state:72> ...          113
ZCTA5 00610: Summary level: unknown, state:72> ...         2484

## Clean the table index and header

In [99]:
data = data_raw.copy()
data.index = [str(x)[-5:] for x in data.index]
data.index.name = 'zcta'
data.columns = [dataname]
data.head()

       pop_black
zcta
00601        344
00602       4092
00603       1894
00606        113
00610       2484

## Save to a file

In [82]:
data.to_csv(f'{dataname}.csv')